<header class="f8bg">
  <div class="nav f8bg">
      <div class="logo">
          <img src="{% if page.prefix %}{{ page.prefix }}{% endif %}assets/img/logo.png" alt="Logo" />
      </div>
      <nav>
          <ul class="nav-links">
              {% for item in site.data.navigation %}
                <li>
                  <a href="{{ item.link }}" {% if item.link == page.url %} class="current" {% endif %}>
                    {{ item.name }}
                  </a>
                </li>
              {% endfor %}
          </ul>
      </nav>
  </div>
</header>