* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  background-color: #f8fafc;
  margin-bottom: 50px;
}

.heading h1 {
  font-size: 2rem;
  margin-bottom: 25px;
}

.tags {
  display: flex;
}

.tags span {
  font-size: 1.5rem;
  font-weight: bold;
}

.tags ul {
  display: flex;
}

.tags li {
  list-style: none;
  padding: 5px;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  transition: transform 0.2s ease-out;
}

.tags li:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.tags li a {
  text-decoration: none;
}

.content {
  max-width: 750px;
  margin: auto;
}

.content p {
  line-height: 30px;
  padding-top: 20px;
  font-size: 1.2rem;
}
.content img {
  max-width: 750px;
}
